* {
    box-sizing: border-box;
}

body {
    background-color: #131720;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    color: white;
}