* {
    box-sizing: border-box;
}

body {
    background-color: #131720;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
    color: white;
    min-height: 3em;
    font-weight: lighter;
}

.topNavigation {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topNavigation a {
    color: white;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 2em;
    font-weight: bolder;
}

.searchBar {
    float: right;
    border: 0px;
    padding: 14px 16px;
}

form {
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
}

input {
    all: unset;
    font: 15px system-ui;
    color: white;
    height: 100%;
    padding-left: 15px;
}

.thumbnail {
    position: relative;
    height: 350px;
    width: 250px;
    border-radius: 19px;
}

.column {
    float: left;
    padding: 0 0 10px 10px;
    width: 25%;
}

.card {
    background-color: #463e3c;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.card image {
    display: block;
    margin: 0 auto;
}